<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ativosceb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_ceb_android"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.ActivityAtivosLocal"
            android:label="@string/title_activity_ativos_local"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.ActivityAtivosFabricante"
            android:label="@string/title_activity_ativos_fabricante"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ActivityDetalhesAtivos"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_detalhes_ativos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ActivityAtivosCategoria"
            android:label="@string/title_activity_ativos_categoria"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ActivityBusca"
            android:label="@string/title_activity_teste"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ActivityTodosAtivos"
            android:label="@string/title_activity_todos_ativos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ActivityNovoAtivo"
            android:label="@string/title_activity_novo_ativo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ActivityListaAtivos"
            android:label="@string/title_activity_lista_ativos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="Ativos CEB"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>